<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上传文件</title>

	<style>
		.right {
			margin-top:10px;
		}
		.button {
			margin-top:10px;
			float: right;
			display: block;
			width: 100px;

		}
	</style>

</head>
<body background={{ url_for('static', filename='5.2.jpg')}} style="background-size:cover">
		{% include 'base.html' %}

    {% for message in get_flashed_messages() %}
    		<h3 class="center" ><font color="red"> {{message}} </font></h3>
		{% endfor %}
    <form action="" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file">
         <input type="submit" value="Upload">
    </form>
</body>
</html>